.gradle/
.gradle-user-home/
.idea/
.kotlin/
.vscode/
build/
*.iml
*.keystore
*.jks
local.properties
captures/
.cxx/
.externalNativeBuild/
**/build/
**/generated/
**/intermediates/
**/tmp/
backend/icps.db
/.build-output
